<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Styles/style.css" />
    <title>MedNet | @ViewData["Title"]</title>
</head>
<body>
    <style>
        img {
            max-width: 200px;
            max-height: 50px;
            margin-left:auto;
            margin-right:auto;
            text-align:center;
            }
    </style>
    <div class="topnav" id="myTopnav">
        <img src="~/theme/images/logo.png" style="float:left" />
        @RenderSection("NavButtons", required: false)
@*        <a href="/Doctors/Login" class="topnav-dl">Login</a>
        <a href="/Patients/Login" class="topnav-pl">Login</a>
        <a href="/MLTs/Login" class="topnav-ml">Login</a>
        <a href="/Pharmacits/Login" class="topnav-phl">Login</a>
        <a href="/Home/PatientLookUp" class="topnav-plu">Patient Look-Up</a>
        <a href="/Home/PatientSignUp" class="topnav-psu">Patient Sign-Up</a>
        <a href="/Home" class="topnav-home">Home</a>
        <a href="/Home/PatientOverview" class="topnav-pp">Return To Patient Profile</a>
        <a href="/Home/Logout" class="topnav-logout" style="float:right">Logout</a>
        <a href="/Home/patientLookUp" class="topnav-logout" style="float:right">@ViewBag.DoctorName</a>*@
        <a href="javascript:void(0);" class="icon" onclick="resizeFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <div class="card">
        @RenderBody()
    </div>

    <div class="footer">
        <p>
            <b>Version</b> 0.0.1
            <strong>Copyright LifeBlocks &copy; 2020 MedNet.</strong>
        </p>
    </div>

    @RenderSection("Scripts", required: false)

    <script>
    function resizeFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }</script>

</body>
</html>
