@model AddNewPatientRecordViewModel
@{
    ViewData["Title"] = "Add New Record";
}

@section NavButtons {
    <a href="PatientLookUp" class="topnav-lbtn topnav-first">Home</a>
    <a href="PatientSignUp" class="topnav-lbtn">New Patient Sign-Up</a>

    <a href="Logout" class="topnav-rbtn">Logout</a>
    <a href="PatientLookUp" class="topnav-rbtn">Dr. @ViewBag.DoctorName</a>
}

<div class="sidebar">
    <div class="sidebar-body">
        <a href="PatientOverview">Overview</a>
        <a href="RequestAccess">Request Full Access</a>
        <!-- UPDATE HREF TO RECORDS PAGE -->
        <a href="PatientRecords">View Records</a>
        <a href="AddNewPatientRecord" class="active">Add New Record</a>
    </div>
    <div class="sidebar-footer">
        <a href="PatientLookUp">Close</a>
    </div>
</div>

<div class="content">
    <div class="content-header card">
        <h1>@ViewBag.PatientName</h1>
        <p class="no-bot-margin"><strong>PHN: </strong>@ViewBag.PatientID</p>
    </div>
    <div class="content-body">
        <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 center">
            <div class="card">
                <div class="card-header">
                    <h1>Add New Medical Record</h1>
                </div>
                <div class="card-body">
                    <form asp-action="AddNewPatientRecord" method="post" enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="selectRecordType">New Record Type</label>
                            <select id="selectRecordType" class="form-control">
                                <option value="" disabled selected hidden>Select Record Type</option>
                                <option value="doctorsNote">Add New Doctor's Note</option>
                                <option value="prescription">Add New Prescription</option>
                                <option value="testResult">Add New Test Requisition</option>
                            </select>
                            <small class="form-text text-muted">Please select the type of medical record you wish to add.</small>
                        </div>
                        <!-- Doctor's Note -->
                        <div class="form-group" id="doctorsNote1">
                            <label>Purpose of Visit</label>
                            @Html.TextBoxFor(n => n.DoctorsNote.PurposeOfVisit, new { placeholder = "Main concern addressed in today's appointment", @class = "form-control" })
                        </div>

                        <div class="form-group" id="doctorsNote2">
                            <label>Description</label>
                            @Html.TextAreaFor(n => n.DoctorsNote.Description, new { @rows = 3, placeholder = "Enter appointment notes", @class = "form-control" })
                        </div>

                        <div class="form-group" id="doctorsNote3">
                            <label>Final Diagnoses</label>
                            @Html.TextBoxFor(n => n.DoctorsNote.FinalDiagnosis, new { placeholder = "Identification of concern raised", @class = "form-control" })
                        </div>

                        <div class="form-group" id="doctorsNote4">
                            <label>Further Instructions and General Precautions</label>
                            @Html.TextAreaFor(n => n.DoctorsNote.FurtherInstructions, new { @rows = 3, placeholder = "Physical/dietary precautions, restrictions and recommendations", @class = "form-control" })
                        </div>

                        <!-- Prescription -->
                        <div class="form-group" id="prescription1">
                            <label>Date Prescribed</label>
                            @Html.TextBoxFor(n => n.Prescription.PrescribingDate, new { type = "date", id = "PrescribingDate", @class = "form-control" })
                        </div>

                        <!-- NOT SURE IF WE NEED THIS FIELD -->
                        @*<div class="form-group" id="prescription2">
                                <label>Superscription (Rx Label)</label>
                                @Html.TextBoxFor(n => n.Prescription.Superscription, new { @class = "form-control" })
                            </div>*@

                        <div class="form-row form-group" id="prescription3">
                            <div class="col-sm-8">
                                <label>Drug Name</label>
                                @Html.TextBoxFor(n => n.Prescription.DrugName, new { placeholder = "Drug name, strength", @class = "form-control" })
                            </div>

                            <div class="col-sm-4">
                                <label>Conc. (mg/mL)</label>
                                @Html.TextBoxFor(n => n.Prescription.Concentration, new
                                    {
                                        placeholder = "00.00",
                                        onkeypress = "return isFloat(event)",
                                        @class = "form-control",

                                    })
                            </div>
                        </div>

                        @*<div class="form-row form-group" id="prescription4">
                                <div class="col-sm-6">
                                    <label>Start Date</label>
                                    @Html.TextBoxFor(n => n.Prescription.StartDate, new
                                       {
                                           type = "date",
                                           id = "PrescribingStartDate",
                                           @class = "form-control"
                                       })
                                </div>
                                <div class="col-sm-6">
                                    <label>Valid Until</label>
                                    @Html.TextBoxFor(n => n.Prescription.EndDate, new
                                        {
                                            type = "date",
                                            id = "PrescribingEndDate",
                                            @class = "form-control"
                                        })
                                </div>
                            </div>*@

                        <div class="form-group" id="prescription4">
                            <label>Valid Until</label>
                            @Html.TextBoxFor(n => n.Prescription.EndDate, new
                                {
                                    type = "date",
                                    id = "PrescribingEndDate",
                                    @class = "form-control"
                                })
                        </div>

                        <div class="form-group" id="prescription5">
                            <label>Refill Data</label>
                            @Html.TextBoxFor(n => n.Prescription.Refill, new
                            {
                                placeholder = "Number of Refills",
                                onkeypress = "return isFloat(event)",
                                @class = "form-control",
                            })
                        </div>

                        <div class="form-group" id="prescription6">
                            @Html.CheckBoxFor(n => n.Prescription.Substitution, new { @class = "form-control-inline" })
                            <label>Substitution Allowed (check for 'Yes')</label>
                        </div>

                        <div class="form-group" id="prescription7">
                            <label>Direction for Use or Special Instructions</label>
                            @Html.TextAreaFor(n => n.Prescription.DirectionForUse, new { @rows = 3, placeholder = "Restrictions and Recommendations", @class = "form-control" })
                        </div>

                        <!-- Lab Test-->
                        <div class="form-group" id="test1">
                            <label for="selectTestType">Test Type</label>
                            <select name="TestRequisition.TestType" class="form-control">
                                <option value="" disabled selected hidden>Select Test Type</option>
                                <option>Hematology</option>
                                <option>Urine Tests</option>
                                <option>Chemistry</option>
                                <option>Microbiology</option>
                                <option>Other tests</option>
                            </select>
                        </div>

                        <div class="form-group" id="test2">
                            <label>Reason for Test</label>
                            @Html.TextAreaFor(n => n.TestRequisition.ReasonForTest, new { @rows = 3, placeholder = "List any symptoms, suspected illness and reason for ordering the test.", @class = "form-control" })
                        </div>

                        <div class="form-group" id="test3">
                            <label>Attach Complete Requisition Form</label>
                            @Html.TextBoxFor(n => n.TestRequisition.AttachedFile, new { type = "file", @class = "form-control", style = "border-style: none;", accept = ".pdf" })
                        </div>

                        <button type="submit" id="buttonSubmit" class="btn btn-success btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- Select2 -->
    <script src="~/theme/plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="~/theme/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- InputMask -->
    <script src="~/theme/plugins/moment/moment.min.js"></script>
    <script src="~/theme/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/theme/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/theme/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/theme/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="~/theme/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- jQuery -->
    <script src="~/theme/plugins/jquery/jquery.min.js"></script>
    <!-- InputMask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- bs-custom-file-input -->
    <script src="~/theme/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/theme/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/theme/dist/js/demo.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {

            bsCustomFileInput.init();
            var today = new Date();
            var month = (today.getMonth() + 1 < 10 ? '0' + (today.getMonth() + 1) : today.getMonth() + 1)
            var day = (today.getDate() + 1 < 10 ? '0' + (today.getDate() + 1) : today.getDate() + 1)
            var date = (today.getFullYear() + '-' + month + '-' + day);
            $('#todaysDate').val(date);

        });
        function isFloat(evt) {

            var charCode = (event.which) ? event.which : event.keyCode;
            if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
                //alert('Please enter only no or float value');
                return false;
            }
            else {
                //if dot sign entered more than once then don't allow to enter dot sign again. 46 is the code for dot sign
                var parts = evt.srcElement.value.split('.');
                if (parts.length > 1 && charCode == 46) {
                    return false;
                }

                return true;

            }
        }

        //Datemask mm/dd/yyyy
        $('#todaysDate').mask('00/00/0000', { 'placeholder': 'mm/dd/yyyy' })
        $('#datemask2').mask('00/00/0000', { 'placeholder': 'mm/dd/yyyy' })
        $('#datemask3').mask('00/00/0000', { 'placeholder': 'mm/dd/yyyy' })

        $("#selectRecordType").change(function () {
            $('#buttonSubmit').hide();
            if ($(this).val() == "doctorsNote") {
                $('#doctorsNote1').show();
                $('#doctorsNote2').show();
                $('#doctorsNote3').show();
                $('#doctorsNote4').show();
                $('#buttonSubmit').show();
            } else {
                $('#doctorsNote1').hide();
                $('#doctorsNote2').hide();
                $('#doctorsNote3').hide();
                $('#doctorsNote4').hide();
            }

            if ($(this).val() == "prescription") {
                $('#prescription1').show();
                $('#prescription2').show();
                $('#prescription3').show();
                $('#prescription4').show();
                $('#prescription5').show();
                $('#prescription6').show();
                $('#prescription7').show();
                $('#buttonSubmit').show();
            } else {
                $('#prescription1').hide();
                $('#prescription2').hide();
                $('#prescription3').hide();
                $('#prescription4').hide();
                $('#prescription5').hide();
                $('#prescription6').hide();
                $('#prescription7').hide();
            }

            if ($(this).val() == "testResult") {
                $('#test1').show();
                $('#test2').show();
                $('#test3').show();
                $('#submit').show();
                $('#buttonSubmit').show();

            } else {
                $('#test1').hide();
                $('#test2').hide();
                $('#test3').hide();
            }
        });
        $("#selectRecordType").trigger("change");

        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }

        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("PrescribingDate").setAttribute("min", today);
        document.getElementById("PrescribingStartDate").setAttribute("min", today);
        document.getElementById("PrescribingEndDate").setAttribute("min", today);</script>
}