@model DoctorLoginViewModel

@{
    ViewData["Title"] = "Doctor Login";
}

@section NavButtons {
    <!-- L to R -->
    <a href="/Home" class="topnav-lbtn topnav-first">Home</a>

    <!-- R to L -->
    <a href="SignUp" class="topnav-rbtn">Sign Up</a>
    <a href="Login" class="topnav-rbtn active">Login</a>
}

<body>
    <div class="login-page">
        <div class="login-form">
            <div class="login-header">
                <h2>Doctor Login</h2>
                <p>Enter your details below</p>
            </div>
            <div class="login-body">
                @Html.ValidationSummary(true)
                <form asp-controller="Doctors" asp-action="Login" method="post" style="text-align: left">
                    <p data-toggle="tooltip" data-placement="right" title="12-digit Medical Identification Number for Canada">Doctor MINC:</p>
                    @Html.TextBoxFor(n => n.DoctorMINC, new
                    {
                        id = "DoctorMinc",
                        type = "text",
                        placeholder = "CA##-####-####",
                        title = "12-digit Medical Identification Number for Canada"
                    })
                    @Html.ValidationMessageFor(n => n.DoctorMINC)
                    <p data-toggle="tooltip" data-placement="right" title="Identification Keyphrase">Doctor Keyword:</p>
                    @Html.TextBoxFor(n => n.DoctorKeyword, new { placeholder = "Keyword", title = "Identification Keyphrase" })

                    <p>Password:</p>
                    @Html.TextBoxFor(n => n.password, new { type = "password", placeholder = "Password" })
                    @Html.ValidationMessageFor(n => n.password)
                    <button type="submit">Login</button>

                    <p class="message">Don't have an account? <a href="SignUp">Sign up here.</a></p>
                </form>
            </div>
        </div>
    </div>



</body>

@section Scripts {
    <!-- InputMask -->
    <script src="~/theme/plugins/moment/moment.min.js"></script>
    <script src="~/theme/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>


    <script type="text/javascript">
        jQuery(function ($) {
            $("#DoctorMinc").inputmask("AA99-9999-9999");
        });</script>
}