@model DoctorLoginViewModel

@{
    ViewData["Title"] = "Doctor Log-In";
}

@section NavButtons {
    <!-- L to R -->
    <a href="/Home" class="topnav-lbtn topnav-first">Home</a>

    <!-- R to L -->
    <a href="SignUp" class="topnav-rbtn">Sign-Up</a>
    <a href="Login" class="topnav-rbtn active">Log-In</a>
}

<div class="content-full">
    <div class="form-reg col-sm-8 col-md-7 col-lg-6 col-xl-5">
        <div class="card">
            <div class="card-header">
                <h1>Doctor Log-In</h1>
            </div>
            <div class="card-body">
                @Html.ValidationSummary(true)
                <form asp-controller="Doctors" asp-action="Login" method="post" style="text-align: left">
                    <!-- MINC -->
                    <div class="form-group">
                        <label>Doctor MINC</label>
                        @Html.TextBoxFor(n => n.DoctorMINC, new { id = "index-minc", type = "text", placeholder = "CA##-####-####", title = "12-digit Medical Identification Number for Canada", @class = "form-control", required = "required" })
                        <small class="form-text text-muted">12-digit Medical Identification Number for Canada</small>
                        @Html.ValidationMessageFor(n => n.DoctorMINC)
                    </div>

                    <!-- Keyword -->
                    <div class="form-group">
                        <label>Keyword</label>
                        @Html.TextBoxFor(n => n.DoctorKeyword, new { placeholder = "Keyword", title = "Identification keyphrase used for encryption", @class = "form-control", required = "required" })
                        <small class="form-text text-muted">Identification keyphrase used for encryption</small>
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <label>Password</label>
                        @Html.TextBoxFor(n => n.password, new { type = "password", placeholder = "Password", @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(n => n.password)
                    </div>

                    <button type="submit" class="btn btn-success btn-block">Log-In</button>

                    <small class="message">Don't have a doctor's account? <a href="SignUp">Sign-Up here.</a></small>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- InputMask -->
    <script src="~/theme/plugins/moment/moment.min.js"></script>
    <script src="~/theme/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>

    <script type="text/javascript">
        jQuery(function ($) {
            $("#index-minc").inputmask("AA99-9999-9999");
        });
    </script>
}