@model RequestAccessViewModel
@{
    ViewData["Title"] = "Request Access";
}

@section NavButtons {
    <a href="PatientLookUp" class="topnav-lbtn topnav-first">Home</a>
    <a href="PatientSignUp" class="topnav-lbtn">New Patient Sign-Up</a>

    <a href="Logout" class="topnav-rbtn">Logout</a>
    <a href="PatientLookUp" class="topnav-rbtn">Dr. @ViewBag.DoctorName</a>
}

<body>
    <!-- with sidebar -->
    <div class="sidebar">
        <div class="sidebar-body">
            <a href="PatientOverview">Overview</a>
            <a href="RequestAccess" class="active">Request Full Access</a>
            <!-- UPDATE HREF TO RECORDS PAGE -->
            <a href="PatientRecords">View Records</a>
            <a href="AddNewPatientRecord">Add New Record</a>
        </div>
        <div class="sidebar-footer">
            <a href="PatientLookUp">Close</a>
        </div>
    </div>

    <div class="content">
        <div class="content-header card">
            <h1>@ViewBag.PatientName</h1>
            <p class="no-bot-margin"><strong>PHN: </strong>@ViewBag.PatientID</p>
        </div>
        <div class="content-body">
            <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 center">
                <div class="card">
                    <div class="card-header">
                        <h1>Request Access</h1>
                        <p>Enter details below retrieve patient information.</p>
                    </div>
                    <div class="card-body">
                        @Html.ValidationSummary(true)
                        <form class="text-form" asp-action="RequestAccess" method="post">

                            <!-- Keyword -->
                            <div class="form-group">
                                <label for="patientPhone">Patient Keyword</label>
                                @Html.TextBoxFor(n => n.keyword, new { placeholder = "Keyword", title = "Identification keyphrase used for encryption", @required = "required", @class = "form-control" })
                                @Html.ValidationMessageFor(n => n.keyword)
                                <small class="form-text text-muted">Patient's keyphrase used for encryption</small>
                            </div>
                            <button type="submit" id="submitButton" class="btn btn-success btn-block">Authorize with Fingerprint</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>