@model PatientOverviewViewModel
@{
    ViewData["Title"] = "Patient Prescriptions";
}

@section NavButtons {
    <a href="PatientLookUp" class="topnav-lbtn topnav-first">Home</a>

    <a href="Logout" class="topnav-rbtn">Logout</a>
    <a href="PatientLookUp" class="topnav-rbtn">@ViewBag.DoctorName</a>
}

<div class="sidebar">
    <div class="sidebar-body">
        <a href="PatientOverview">Overview</a>
        <a href="RequestAccess">Request Full Access</a>
        <a href="PatientRecords" class="active">View Prescriptions</a>
    </div>
    <div class="sidebar-footer">
        <a href="PatientLookUp">Close</a>
    </div>
</div>

<div class="content">
    <div class="content-header card">
        <h1>@(Model.PatientMetadata.FirstName + " " + Model.PatientMetadata.LastName)</h1>
        <p class="no-bot-margin"><strong>PHN: </strong>@Model.PatientAsset.ID</p>
    </div>
    <div class="content-body">
        <div class="card col-sm-12 col-md-11 col-lg-10 col-xl-8 center">
            <div class="card-header">
                <h1>Prescriptions</h1>
                <nav class="nav nav-pills nav-fill tab">
                    <button class="nav-item mednet-link tablinks btn btn-flat" onclick="openTab(event, 'current')" id="defaultOpen">Current</button>
                    <button class="nav-item mednet-link tablinks btn btn-flat" onclick="openTab(event, 'previous')">Previous</button>
                </nav>
            </div>
            <div class="card-body">
                <div id="current" class="tabcontent">
                    @if (Model != null && Model.Prescriptions != null && Model.Prescriptions.Any())
                    {
                        @foreach (var prescription in Model.Prescriptions)
                        {
                            @if (prescription.assetData.EndDate.CompareTo(DateTime.Now) > 0 && prescription.Metadata.RefillRemaining > 0)
                            {
                                <div class="medical-card card">
                                    <div class="medical-header">
                                        <div class="row no-bot-margin">
                                            <div class="col-sm-6">
                                                <h3>
                                                    @prescription.assetData.DrugName
                                                </h3>
                                            </div>
                                            <div class="col-sm-6 right">
                                                <p><strong>Remaining Refills: </strong>@prescription.Metadata.RefillRemaining</p>
                                            </div>
                                        </div>
                                        <p class="no-bot-margin"><strong>Directions: </strong>@prescription.assetData.DirectionForUse</p>
                                    </div>
                                    <div class="medical-body">
                                        @if (prescription.Metadata.LastIssueDate != default)
                                        {
                                            <div class="row no-bot-margin">
                                                <div class="col-sm-6">
                                                    <p class="no-bot-margin"><strong>Date: </strong>@prescription.assetData.PrescribingDate.ToString("MMMM dd, yyyy")</p>
                                                </div>
                                                <div class="col-sm-6 right">
                                                    <p class="no-bot-margin"><strong>Previous Refill Date: </strong>@prescription.Metadata.LastIssueDate.ToShortDateString()</p>
                                                </div>
                                            </div>
                                            <div class="row no-bot-margin">
                                                <div class="col-sm-6">
                                                    <p class="no-bot-margin"><strong>Doctor: </strong>@prescription.assetData.DoctorName</p>
                                                </div>
                                                <div class="col-sm-6 right">
                                                    <p class="no-bot-margin"><strong>Previous Refill Quantity: </strong>@prescription.Metadata.LastIssueQty.ToString()</p>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <p class="no-bot-margin"><strong>Date: </strong>@prescription.assetData.PrescribingDate.ToString("MMMM dd, yyyy")</p>
                                            <p class="no-bot-margin"><strong>Doctor: </strong>@prescription.assetData.DoctorName</p>
                                        }

                                        <p class="no-bot-margin"><strong>Total Refills: </strong>@prescription.assetData.Refill</p>
                                        <p class="no-bot-margin"><strong>Dosage: </strong>@prescription.assetData.Dosage</p>
                                        <p class="no-bot-margin"><strong>Valid Until: </strong>@prescription.assetData.EndDate.ToString("MMMM dd, yyyy")</p>

                                        <p><strong>Substitutions Allowed: </strong>@prescription.assetData.Substitution.ToString()</p>
                                        <div class="row no-bot-margin">
                                            <div class="col-sm-6">
                                                <a href="@("FillPrescription?transID="+prescription.transID)" class="btn btn-outline-success">Fill Prescription</a>
                                            </div>
                                            <div class="col-sm-6 right">
                                                <a class="btn btn-outline-secondary" href="https://www.drugs.com/search.php?searchterm=@(prescription.assetData.DrugName)" target="_blank">About @prescription.assetData.DrugName</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                    else
                    {
                        <div class="record" align="left">
                            <h4>
                                No records shared.
                            </h4>
                            <p>
                                No medical records to show.
                            </p>
                        </div>
                    }
                </div>

                <div id="previous" class="tabcontent">
                    @if (Model != null && Model.Prescriptions != null && Model.Prescriptions.Any())
                    {
                        @foreach (var prescription in Model.Prescriptions)
                        {
                            @if (prescription.assetData.EndDate.CompareTo(DateTime.Now) <= 0 || prescription.Metadata.RefillRemaining <= 0)
                            {
                                <div class="medical-card card">
                                    <div class="medical-header">
                                        <div class="row no-bot-margin">
                                            <div class="col-sm-6">
                                                <h3>
                                                    @prescription.assetData.DrugName
                                                </h3>
                                            </div>
                                            <div class="col-sm-6 right">
                                                <p><strong>Remaining Refills: </strong>@prescription.Metadata.RefillRemaining</p>
                                            </div>
                                        </div>
                                        <p class="no-bot-margin"><strong>Directions: </strong>@prescription.assetData.DirectionForUse</p>
                                    </div>
                                    <div class="medical-body">
                                        @if (prescription.Metadata.LastIssueDate != default)
                                        {
                                            <div class="row no-bot-margin">
                                                <div class="col-sm-6">
                                                    <p class="no-bot-margin"><strong>Date: </strong>@prescription.assetData.PrescribingDate.ToString("MMMM dd, yyyy")</p>
                                                </div>
                                                <div class="col-sm-6 right">
                                                    <p class="no-bot-margin"><strong>Previous Refill Date: </strong>@prescription.Metadata.LastIssueDate.ToShortDateString()</p>
                                                </div>
                                            </div>
                                            <div class="row no-bot-margin">
                                                <div class="col-sm-6">
                                                    <p class="no-bot-margin"><strong>Doctor: </strong>@prescription.assetData.DoctorName</p>
                                                </div>
                                                <div class="col-sm-6 right">
                                                    <p class="no-bot-margin"><strong>Previous Refill Quantity: </strong>@prescription.Metadata.LastIssueQty.ToString()</p>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <p class="no-bot-margin"><strong>Date: </strong>@prescription.assetData.PrescribingDate.ToString("MMMM dd, yyyy")</p>
                                            <p class="no-bot-margin"><strong>Doctor: </strong>@prescription.assetData.DoctorName</p>
                                        }
                                        <p class="no-bot-margin"><strong>Total Refills: </strong>@prescription.assetData.Refill</p>
                                        <p class="no-bot-margin"><strong>Dosage: </strong>@prescription.assetData.Dosage</p>
                                        <p class="no-bot-margin"><strong>Valid Until: </strong>@prescription.assetData.EndDate.ToString("MMMM dd, yyyy")</p>

                                        <div class="row no-bot-margin">
                                            <div class="col-sm-6">
                                                <p class="no-bot-margin"><strong>Substitutions Allowed: </strong>@prescription.assetData.Substitution.ToString()</p>
                                            </div>
                                            <div class="col-sm-6 right">
                                                <a class="btn btn-outline-secondary" href="https://www.drugs.com/search.php?searchterm=@(prescription.assetData.DrugName)" target="_blank">About @prescription.assetData.DrugName</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                    else
                    {
                        <div class="record" align="left">
                            <h4>
                                No records shared.
                            </h4>
                            <p>
                                No medical records to show.
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById("defaultOpen").click();
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
}