@model PatientLookupViewModel
@{
    ViewData["Title"] = "Patient Look-Up";
}

@section NavButtons {
    <a href="PatientLookUp" class="topnav-lbtn topnav-first active">Home</a>

    <a href="Logout" class="topnav-rbtn">Logout</a>
    <a href="PatientLookUp" class="topnav-rbtn">@ViewBag.DoctorName</a>
}

<div class="jumbotron text-center" style="background:transparent !important">
    <br />
    <div class="big-text">
        Hello, @ViewBag.DoctorName
    </div>
    <br />
    <p>To get started, please search for a patient using their Personal Health Number.</p>
</div>

<div class="container">
    <div class="col-sm-10 col-lg-8 center">
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    <h1>Patient Look-Up</h1>
                </div>
                @Html.ValidationSummary(true)
                <form asp-action="PatientLookUp" method="post">

                    <!-- PHN -->
                    <div class="form-group">
                        <label for="patientPhone">Personal Health Number</label>
                        @Html.TextBoxFor(n => n.PHN, new { id = "patient-look-up-PHN", placeholder = "####-###-###", title = "10-digit Personal Health Number", @required = "required", @class = "typeahead form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(n => n.PHN)
                        <small class="form-text text-muted">10-digit Personal Health Number can be found on the patient's CareCard/BC Services Card</small>
                    </div>
                    <button type="submit" id="submitButton" class="btn btn-success">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- jQuery -->
    <script src="~/theme/plugins/jquery/jquery.min.js"></script>
    <!-- InputMask -->
    <script src="~/theme/plugins/moment/moment.min.js"></script>
    <script src="~/theme/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $("#patient-look-up-PHN").inputmask("9999-999-999");
        });</script>

    <script>
        $(document).ready(function () {
            // Initializing the typeahead with remote dataset without highlighting
            $.get("GetAllPatientIDs" + $(this).val(), function (data) {
                $('.typeahead').typeahead({
                    items: 4,
                    fitToElement: true,
                    source: data,
                    matcher: function (item) {
                        var it = this.displayText(item).toLowerCase();
                        var query = this.query.toLowerCase();
                        it = it.replace(/-/g, '');
                        query = query.replace(/-/g, '');
                        query = query.replace(/_/g, '');
                        return ~it.indexOf(query)
                    }
                });
            }, 'json');
        });
    </script>
}