@model PatientOverviewViewModel
@{
    ViewData["Title"] = "Patient Overview";
}

@section NavButtons {
    <a href="PatientLookUp" class="topnav-lbtn topnav-first">Home</a>

    <a href="Logout" class="topnav-rbtn">Logout</a>
    <a href="PatientLookUp" class="topnav-rbtn">@ViewBag.DoctorName</a>
}

<div class="sidebar">
    <div class="sidebar-body">
        <a href="PatientOverview" class="active">Overview</a>
        <a href="RequestAccess">Request Full Access</a>
        <a href="PatientRecords">View Prescriptions</a>
    </div>
    <div class="sidebar-footer">
        <a href="PatientLookUp">Close</a>
    </div>
</div>

<div class="content">
    <div class="content-header card">
        <h1>@(Model.PatientMetadata.FirstName + " " + Model.PatientMetadata.LastName)</h1>
        <p class="no-bot-margin"><strong>PHN: </strong>@Model.PatientAsset.ID</p>
    </div>
    <div class="content-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2>General Information</h2>
                    </div>
                    <div class="card-body">
                        <p><strong>Date of Birth: </strong>@Model.PatientAsset.DateOfBirth.ToLongDateString()</p>
                        <p><strong>Age: </strong>@Model.PatientAge</p>
                        <p><strong>Height: </strong>@Model.PatientMetadata.Height (cm)</p>
                        <p><strong>Weight: </strong>@Model.PatientMetadata.Weight (kg)</p>
                        <p><strong>Email: </strong>@Model.PatientMetadata.Email</p>
                        <p><strong>Phone: </strong>@Model.PatientMetadata.Phone</p>
                        <p>
                            <strong>Address: </strong>@Model.PatientMetadata.Address
                        </p>
                        <p>@(Model.PatientMetadata.City + " " + Model.PatientMetadata.Province + " " + Model.PatientMetadata.Postal)</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Emergency Contact</h2>
                    </div>
                    <div class="card-body">
                        <p><strong>Name: </strong>@(Model.PatientMetadata.emerFirstName + " " + Model.PatientMetadata.emerLastName)</p>
                        <p><strong>Phone: </strong>@Model.PatientMetadata.emerPhone</p>
                        <p>
                            <strong>Address: </strong>@Model.PatientMetadata.emerAddress
                        </p>
                        <p>@(Model.PatientMetadata.emerCity + " " + Model.PatientMetadata.emerProvince + " " + Model.PatientMetadata.emerPostal)</p>
                        <p><strong>Relationship: </strong>@Model.PatientMetadata.Relationship</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Allergies</h2>
                    </div>
                    <div class="card-body">
                        @{ if (Model != null && Model.PatientMetadata != null && Model.PatientMetadata.Allergies != null)
                            {
                                string[] allergyArray = Model.PatientMetadata.Allergies.Split(',');
                                foreach (var allergy in allergyArray)
                                {
                                    <span class="badge badge-success">@allergy</span>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Daily Medications</h2>
                    </div>
                    <div class="card-body">
                        @{ if (Model != null && Model.PatientMetadata != null && Model.PatientMetadata.Meds != null)
                            {
                                string[] medArray = Model.PatientMetadata.Meds.Split(',');
                                foreach (var med in medArray)
                                {
                                    <span class="badge badge-success">@med</span>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Medical History</h2>
                    </div>
                    <div class="card-body">
                        @{ if (Model != null && Model.PatientMetadata != null && Model.PatientMetadata.MedHist != null)
                            {
                                string[] medHistArray = Model.PatientMetadata.MedHist.Split(',');
                                foreach (var item in medHistArray)
                                {
                                    <span class="badge badge-success">@item</span>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>