@model PatientOverviewViewModel
@{
    ViewData["Title"] = "Patient Records";
}

@section NavButtons {
    <a href="PatientLookUp" class="topnav-lbtn topnav-first">Home</a>

    <a href="Logout" class="topnav-rbtn">Logout</a>
    <a href="PatientLookUp" class="topnav-rbtn">@ViewBag.DoctorName</a>
}

<div class="sidebar">
    <div class="sidebar-body">
        <a href="PatientOverview">Overview</a>
        <a href="RequestAccess">Request Full Access</a>
        <!-- UPDATE HREF TO RECORDS PAGE -->
        <a href="PatientRecords" class="active">View Lab Tests</a>
    </div>
    <div class="sidebar-footer">
        <a href="PatientLookUp">Close</a>
    </div>
</div>

<div class="content">
    <div class="content-header card">
        <h1>@(Model.PatientMetadata.FirstName + " " + Model.PatientMetadata.LastName)</h1>
        <p class="no-bot-margin"><strong>PHN: </strong>@Model.PatientAsset.ID</p>
    </div>
    <div class="content-body">
        <div class="card col-sm-12 col-md-11 col-lg-10 col-xl-8 center">
            <div class="card-header">
                <h1>Lab Tests</h1>
                <nav class="nav nav-pills nav-fill tab">
                    <button class="nav-item mednet-link tablinks btn btn-flat" onclick="openTab(event, 'new_req')" id="defaultOpen">Incomplete</button>
                    <button class="nav-item mednet-link tablinks btn btn-flat" onclick="openTab(event, 'completed')">Completed</button>
                </nav>
            </div>
            <div class="card-body">
                <div id="new_req" class="tabcontent">
                    @if (Model != null && Model.TestRequisitions != null && Model.TestRequisitions.Any())
                    {
                        @for (var i = 0; i < Model.TestRequisitions.Count; i++)
                        {
                            var requisitions = Model.TestRequisitions[i];
                            @if (requisitions.ResultFile == null)
                            {
                                var html_id = "requisitions" + i.ToString();
                                <div class="medical-card card">
                                    <div class="medical-header">
                                        <div class="row no-bot-margin">
                                            <div class="col-sm-6">
                                                <h3>
                                                    @requisitions.assetData.TestType
                                                </h3>
                                            </div>
                                            <div class="col-sm-6 right">
                                                <p><strong>Order Date: </strong>@requisitions.assetData.DateOrdered.ToString("MMMM dd, yyyy")</p>
                                            </div>
                                        </div>
                                        <div class="row no-bot-margin">
                                            <div class="col-sm-8">
                                                <p class="no-bot-margin"><strong>Reason: </strong>@requisitions.assetData.ReasonForTest</p>
                                            </div>
                                            <div class="col-sm-4 right">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#@html_id" aria-expanded="false" aria-controls="#@html_id" value="Show more" onclick="return toggleShow(this)">
                                                    Show more
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="collapse medical-body" id="@html_id">
                                        <p class="no-bot-margin">
                                            <strong>Requisition Form: </strong><a href="GetRequisitionFile?transID=@requisitions.transID" target="_blank">
                                                @requisitions.assetData.AttachedFile.Name
                                            </a>
                                        </p>
                                        <a class="btn btn-outline-success" href="UploadResult?transID=@requisitions.transID">Upload Result</a>
                                    </div>
                                </div>
                            }
                        }
                    }
                    else
                    {
                        <div class="record" align="left">
                            <h4>
                                No records shared.
                            </h4>
                            <p>
                                No medical records to show.
                            </p>
                        </div>
                    }
                </div>

                <div id="completed" class="tabcontent">
                    @if (Model != null && Model.TestRequisitions != null && Model.TestRequisitions.Any())
                    {
                        @for (var i = 0; i < Model.TestRequisitions.Count; i++)
                        {
                            var requisitions = Model.TestRequisitions[i];
                            @if (requisitions.ResultFile != null)
                            {
                                var html_id = "requisitions" + i.ToString();
                                <div class="medical-card card">
                                    <div class="medical-header">
                                        <div class="row no-bot-margin">
                                            <div class="col-sm-6">
                                                <h3>
                                                    @requisitions.assetData.TestType
                                                </h3>
                                            </div>
                                            <div class="col-sm-6 right">
                                                <p><strong>Order Date: </strong>@requisitions.assetData.DateOrdered.ToString("MMMM dd, yyyy")</p>
                                            </div>
                                        </div>
                                        <div class="row no-bot-margin">
                                            <div class="col-sm-8">
                                                <p class="no-bot-margin"><strong>Reason: </strong>@requisitions.assetData.ReasonForTest</p>
                                            </div>
                                            <div class="col-sm-4 right">
                                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#@html_id" aria-expanded="false" aria-controls="#@html_id" value="Show more" onclick="return toggleShow(this)">
                                                    Show more
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="collapse medical-body" id="@html_id">
                                        <p class="no-bot-margin">
                                            <strong>Requisition Form: </strong><a href="GetRequisitionFile?transID=@requisitions.transID" target="_blank">
                                                @requisitions.assetData.AttachedFile.Name
                                            </a>
                                        </p>
                                        <p class="no-bot-margin">
                                            <strong>Result: </strong><a href="GetResultFile?transID=@requisitions.transID" target="_blank">
                                                @requisitions.ResultFile.Name
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            }
                        }
                    }
                    else
                    {
                        <div class="record" align="left">
                            <h4>
                                No records shared.
                            </h4>
                            <p>
                                No medical records to show.
                            </p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById("defaultOpen").click();
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }</script>

    <script type="text/javascript">
        function toggleShow(el) {
            if (el.innerText === "Show more") {
                el.innerText = "Show less";
            }
            else {
                el.innerText = "Show more";
            }
        }
    </script>
}