@model PatientOverviewViewModel
@{
    ViewData["Title"] = "Patient Records";
}

@section NavButtons {
    <a href="PatientLookUp" class="topnav-lbtn topnav-first">Patient Look-Up</a>
    <a href="PatientSignUp" class="topnav-lbtn">New Patient Sign-Up</a>

    <a href="Logout" class="topnav-rbtn">Logout</a>
    <a href="PatientLookUp" class="topnav-rbtn">Dr. @ViewBag.DoctorName</a>
}

<div class="sidebar">
    <div class="sidebar-body">
        <a href="PatientOverview">Overview</a>
        <!-- UPDATE HREF TO RECORDS PAGE -->
        <a href="PatientRecords" class="active">View Lab Tests</a>
    </div>
    <div class="sidebar-footer">
        <a href="PatientLookUp">Close</a>
    </div>
</div>

<div class="content">
    <div class="content-header">
        <h1>@Model.PatientName</h1>
        <p><strong>PHN: </strong>@Model.PatientPHN</p>
    </div>
    <div class="content-body">

        <!-- TODO: Move this to a new cshtml page and create code in controller, also add code for test results -->
        <div class="row">
            <div class="form-reg col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h3>Medical Records</h3>
                        <nav class="nav nav-pills nav-fill tab">
                            @*<button class="nav-item nav-link tablinks btn btn-secondary" style="border-radius: 1.25rem; margin: 0.5em;" onclick="openTab(event, 'doc_notes')" id="defaultOpen">Doctor's Notes</button>
                            <button class="nav-item nav-link tablinks btn btn-secondary" style="border-radius: 1.25rem; margin: 0.5em;" onclick="openTab(event, 'prescriptions')">Prescriptions</button>*@
                            <button class="nav-item nav-link tablinks btn btn-secondary" style="border-radius: 1.25rem; margin: 0.5em;" onclick="openTab(event, 'test_results')">New Test Requisitions</button>
                            <button class="nav-item nav-link tablinks btn btn-secondary" style="border-radius: 1.25rem; margin: 0.5em;" onclick="openTab(event, 'test_results')">Previous Test Results</button>
                        </nav>
                    </div>
                    <div class="card-body" style="max-height: 75vh; overflow-y: scroll;">

                        <div id="doc_notes" class="tabcontent">
                            @if (Model != null && Model.DoctorNotes != null && Model.DoctorNotes.Any())
                            {
                                @foreach (var doctorNote in Model.DoctorNotes)
                                {
                                    <div class="record" align="left" style="border:2px; border-style:solid; border-color:#6c757d; padding-left: 1em; padding-right: 1em; padding-top: 1em; margin-bottom: 1em;">
                                        <h4>
                                            Date: @doctorNote.DateOfRecord.ToString("MMMM dd, yyyy")
                                        </h4>
                                        <p>
                                            <strong>Purpose of Visit:</strong> @doctorNote.PurposeOfVisit <br />
                                            <strong>Description:</strong> @doctorNote.Description <br />
                                            <strong>Final Diagnosis:</strong> @doctorNote.FinalDiagnosis <br />
                                            <strong>Further Instructions and General Precautions:</strong> @doctorNote.FurtherInstructions   <br />
                                            <strong>Doctor Visited:</strong> @doctorNote.DoctorName
                                        </p>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="record" align="left">
                                    <h4>
                                        No records shared.
                                    </h4>
                                    <p>
                                        No medical records to show.
                                    </p>
                                </div>
                            }
                        </div>

                        <div id="prescriptions" class="tabcontent">
                            @if (Model != null && Model.Prescriptions != null && Model.Prescriptions.Any())
                            {
                                @foreach (var prescription in Model.Prescriptions)
                                {
                                    <div class="record" align="left" style="border:2px; border-style:solid; border-color:#6c757d; padding-left: 1em; padding-right: 1em; padding-top: 1em; margin-bottom: 1em;">
                                        <h4>
                                            Date: @prescription.PrescribingDate.ToString("MMMM dd, yyyy")
                                        </h4>
                                        <p>
                                            <strong>Drug Prescribed:</strong> @prescription.DrugName <br />
                                            <strong>Concentration:</strong> @prescription.Concentration <br />
                                            <strong>Prescription Valid From/To:</strong> @prescription.StartDate.ToString("MMMM dd, yyyy") - @prescription.EndDate.ToString("MMMM dd, yyyy") <br />
                                            <strong>Total Number of Refills:</strong> @prescription.Refill <br />
                                            <strong>Substitutions Allowed:</strong> @prescription.Substitution.ToString() <br />
                                            <strong>Directions for Use:</strong> @prescription.DirectionForUse <br />
                                            <strong>Prescribing Doctor:</strong> @prescription.DoctorName
                                        </p>
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="record" align="left">
                                    <h4>
                                        No records shared.
                                    </h4>
                                    <p>
                                        No medical records to show.
                                    </p>
                                </div>
                            }
                        </div>

                        <!-- TO DO: Fill in for TEST RESULTS, display file as a viewable/downloadable link-->
                        <div id="test_results" class="tabcontent">
                            <div class="record" align="left">
                                <h4>
                                    No records shared.
                                </h4>
                                <p>
                                    No medical records to show.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script>
        document.getElementById("defaultOpen").click();
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }</script>
}


