@model doctorSignUpViewModel

@{
    ViewData["Title"] = "Doctor Sign-Up";
}
<style>

    .topnav .topnav-plu {
        display: none;
    }

    .topnav .topnav-rp {
        display: none;
    }

    .topnav .topnav-pp {
        display: none;
    }

    .topnav .topnav-pli {
        display: none;
    }

    .topnav .topnav-psu {
        display: none;
    }

    .topnav .topnav-logout {
        display: none;
    }
</style>

<div class="doctor-sign-up">
    <div class="form">
        <div class="heading">
            <p>Sign Up for MedNet</p>
        </div>
        <p>Enter your details below to create an account.</p>
        <form asp-controller="Home" asp-action="DoctorSignUp" method="post" class="text-form">
            <label>First Name:</label>
            @Html.TextBoxFor(n => n.FirstName, new { placeholder = "First Name" })
            <label>Last Name:</label>
            @Html.TextBoxFor(n => n.LastName, new { placeholder = "Last Name" })
            <label>Email:</label>
            @Html.TextBoxFor(n => n.Email, new { placeholder = "Email" })
            <div class="tooltip allign">
                <label>Doctor MINC:</label>
                <span class="tooltiptext">12 digit Medical Identification Number for Canada</span>
            </div>
            @Html.TextBoxFor(n => n.DoctorMINC, new { placeholder = "CAXX-XXXX-XXXX", title = "12 digit Medical Identification Number for Canada" })
            <div class="tooltip">
                <label>Doctor Keyword:</label>
                <span class="tooltiptext">Identification pass phrase.</span>
            </div>
            @Html.TextBoxFor(n => n.DoctorKeyWord, new { placeholder = "Keyword", title = "Identification Passphrase Here" })
            <label>Password:</label>
            @Html.TextBoxFor(n => n.Password, new { type = "password", id="password", placeholder = "Password", onkeyup="check()" })
            <label>Confirm Password:</label>
            <input type="password" id="retype-password" name="retype-password" placeholder="Retype Password" onkeyup='check();' />
            <span id='message'></span><br />
            <button type="submit" id="submitButton">Register</button>
        </form>
    </div>
</div>

<script type="text/javascript">var check = function () {
    if (document.getElementById('password').value == document.getElementById('retype-password').value) {
        document.getElementById('message').style.color = 'green';
        document.getElementById('message').innerHTML = 'Passwords Match.';
        document.getElementById('submitButton').disabled = false;
    } else {
        document.getElementById('message').style.color = 'red';
        document.getElementById('message').innerHTML = 'Passwords do not match, please try again.';
        document.getElementById('submitButton').disabled = true;
    }
}</script>