@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<style>

    .topnav .topnav-plu {
        display: none;
    }

    .topnav .topnav-rp {
        display: none;
    }

    .topnav .topnav-home {
        display: none;
    }

    .topnav .topnav-pp {
        display: none;
    }

    .topnav .topnav-logout {
        display: none;
    }
</style>

<div class="login-page">
    <div class="form">
        <div class="heading">
            <p>Doctor Login</p>
        </div>
        <p>Enter your details below to continue.</p>
        @Html.ValidationSummary(true)
        <form asp-controller="Home" asp-action="Index" method="post" class="login-form">
            <div class="tooltip">
                <label>Doctor MINC:</label>
                <span class="tooltiptext">12 digit Medical Identification Number for Canada</span>
            </div>
            @Html.TextBoxFor(n => n.DoctorMINC, new { placeholder = "CAXX-XXXX-XXXX", title = "12 digit Medical Identification Number for Canada" })
            @Html.ValidationMessageFor(n => n.DoctorMINC)
            <div class="tooltip">
                <label>Doctor Keyword:</label>
                <span class="tooltiptext">Identification pass phrase created during Sign-Up.</span>
            </div>
            @Html.TextBoxFor(n => n.DoctorKeyword, new { placeholder = "Keyword", title = "Identification pass phrase created during Sign-Up" })
            <label>Password:</label>
            @Html.TextBoxFor(n => n.password, new { type = "password", placeholder = "Password" })
            @Html.ValidationMessageFor(n => n.password)
            <button type="submit">Login</button>
            <p class="message">Don't have an account? <a href="Home/DoctorSignUp">Sign up here.</a></p>
            <p class="message"><a href="Home/DoctorForgotPassword">Forgot your password?</a></p>
        </form>
</div>
</div>