@model PatientOverviewViewModel
@{
    ViewData["Title"] = "Patient Overview";
}
<style>
    @@import url(https://fonts.googleapis.com/css?family=Roboto:300);

    .login-page {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
    }

    .form1 {
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 1;
        background: #FFFFFF;
        width: 20%;
        height: 70%;
        padding: 10px 40px 40px 40px;
        text-align: center;
        border-style: solid;
        border-width: medium;
        border-color: gainsboro;
        overflow: scroll;
    }

    .form2 {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(2%, -50%);
        z-index: 1;
        background: #FFFFFF;
        width: 1000px;
        height: 70%;
        padding: 10px 40px 40px 40px;
        text-align: center;
        border-style: solid;
        border-width: medium;
        border-color: gainsboro;
        overflow: scroll;
    }

    .form1 button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #ff0000;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all;
        transition: all;
        cursor: pointer;
        margin-top: 5px;
    }

    .form1 button:hover, .form button:active, .form button:focus {
        background: #e60000;
    }

    div.heading2 {
        font-size: 20px;
        line-height: 20px;
        color: #cccccc;
    }

    div.heading1 {
        font-size: 25px;
        line-height: 25px;
        color: #4CAF50;
    }

    .column1 {
        float: left;
        width: 50%;
        padding: 0px 5px 0px 0px;
        text-align: right;
        color: #cccccc;
        line-height: 5px;
    }

    .column2 {
        float: left;
        width: 40%;
        padding: 0px 0px 0px 5px;
        text-align: left;
        line-height: 5px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .table {
        padding: 30px 10px 30px 10px;
    }

    .tab {
        overflow: hidden;
        border-color: gainsboro;
        border-style: solid;
        border-width: medium;
        background-color: #4CAF50;
    }

    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
        color: #FFFFFF;
    }

    .tab button.red {
        background-color: #ff0000;
        float: right;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
        color: #FFFFFF;
    }

    .tab button.red:hover {
        background-color: #e60000;
    }

    .tab button:hover {
        background-color: #3e8e41;
    }

    .tab button.active {
        background-color: #367c39;
    }

    .tabcontent {
        display: none;
        padding: 6px 12px;
        border-color: gainsboro;
        border-style: solid;
        border-width: medium;
        border-top: none;
        height: 540px;
        overflow: scroll;
    }

    .record {
        padding: 10px;
        border-color: gainsboro;
        border-style: solid;
        border-width: medium;
        height: 150px;
        margin: 10px;
    }

</style>

<div class="login-page">
    <div class="form1">
        <div class="heading2">
            <p><strong>Patient Profile</strong></p>
        </div>
        <div class="heading1">
            <p><strong>First Name, Last Name</strong></p>
        </div>
        <div class="heading2">
            <p>PHN: XXXX-XXX-XXX</p>
            <p>General Information</p>
        </div>

        <div>
            <div class="row">
                <div class="column1">
                    <p>Age:</p>
                </div>
                <div class="column2">
                    <p>32</p>
                </div>
            </div>
            <div class="row">
                <div class="column1">
                    <p>Date of Birth:</p>
                </div>
                <div class="column2">
                    <p>09/27/1987</p>
                </div>
            </div>
            <div class="row">
                <div class="column1">
                    <p>Blood Type:</p>
                </div>
                <div class="column2">
                    <p>O+</p>
                </div>
            </div>
            <div class="row">
                <div class="column1">
                    <p>Allergies:</p>
                </div>
                <div class="column2">
                    <p>Bees</p>
                    <p>Peanuts</p>
                    <p>Aspirin</p>
                </div>
            </div>
            <div class="row">
                <div class="column1">
                    <p>Current Medication(s):</p>
                </div>
                <div class="column2">
                    <p>Levothyroxine</p>
                    <p>Insulin</p>
                    <p>Zoloft</p>
                </div>
            </div>
            <div class="row">
                <div class="column1">
                    <p>Smoker:</p>
                </div>
                <div class="column2">
                    <p>Yes</p>
                </div>
            </div>
            <div class="row">
                <div class="column1">
                    <p>Drink Alcohol:</p>
                </div>
                <div class="column2">
                    <p>Yes</p>
                </div>
            </div>
            <div class="row">
                <div class="column1">
                    <p>Known Medical History:</p>
                </div>
                <div class="column2">
                    <p>Thyroid</p>
                    <p>Diabetes</p>
                </div>
            </div>
        </div>
        <button onclick="window.location.href = '/Home/AddNewPatientRecord';">Add Record</button><br />
    </div>

    <div class="form2">
        <div class="table">
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'doc_notes')" id="defaultOpen">Doctor's Notes</button>
                <button class="tablinks" onclick="openTab(event, 'prescriptions')">Prescriptions</button>
                <!--<button class="tablinks" onclick="openTab(event, 'test_results')">Test Results</button>-->
                <button class="tablinks, red" onclick="window.location.href = '/Home/AddNewPatientRecord';">+</button>
            </div>

            <div id="doc_notes" class="tabcontent">
                @if (Model != null && Model.DoctorNotes != null && Model.DoctorNotes.Any())
                {
                    @foreach (var doctorNote in Model.DoctorNotes)
                    {
                        <div class="record" align="left">
                            <div class="heading1">
                                Date: @doctorNote.DateOfRecord.ToString("MMMM dd, yyyy")
                            </div>
                            <p>
                                Purpose of Visit: @doctorNote.PurposeOfVisit <br />
                                Description: @doctorNote.Description <br />
                                Final Diagnosis: @doctorNote.FinalDiagnosis <br />
                                Further Instructions and General Precautions: @doctorNote.FurtherInstructions
                            </p>
                        </div>
                    }
                }
                else
                {
                    <div class="record" align="left">
                        <div class="heading1">
                            No records shared.
                        </div>
                        <p>
                            No medical records to show.
                        </p>
                    </div>
                }
            </div>

            <div id="prescriptions" class="tabcontent">
                @if (Model != null && Model.Prescriptions != null && Model.Prescriptions.Any())
                {
                    @foreach (var prescription in Model.Prescriptions)
                    {
                        <div class="record" align="left">
                            <div class="heading1">
                                Date: @prescription.PrescribingDate.ToString("MMMM dd, yyyy")
                            </div>
                            <p>
                                Prescription: @prescription.DrugNameStrength <br />
                                Dosage: @prescription.Dosage <br />
                                Prescription Length: @prescription.StartDate.ToString("MMMM dd, yyyy") to @prescription.EndDate.ToString("MMMM dd, yyyy") <br />
                            </p>
                        </div>
                    }
                }
                else
                {
                    <div class="record" align="left">
                        <div class="heading1">
                            No records shared.
                        </div>
                        <p>
                            No medical records to show.
                        </p>
                    </div>
                }
            </div>

            <!--<div id="test_results" class="tabcontent">

            </div>-->

        </div>
    </div>
</div>

<script>

    document.getElementById("defaultOpen").click();

    function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

</script>