@model PatientLookupViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="login-page">
    <div class="form">
        <div class="heading">
            <p>Patient Look-Up</p>
        </div>
        <p>Enter your details below retrieve patient information.</p>
        @Html.ValidationSummary(true)
    <form class="login-form" asp-controller="Home" asp-action="PatientLookUp" method="post">
        <div class="tooltip">
            <label>Patient PHN:</label>
            <span class="tooltiptext">10 digit Personal Health Number can be found on patient's CareCard/BC Services Card</span>
        </div>
        @Html.TextBoxFor(n => n.PHN, new { placeholder = "XXXX-XXX-XXXX", title = "10 digit Personal Health Record Number." })
        @Html.ValidationMessageFor(n => n.PHN)
        <div class="tooltip">
            <label>Patient Keyword:</label>
            <span class="tooltiptext">Patient's identification pass phrase, something easy to remember like place of birth/mother's maiden name that was created during Sign-Up</span>
        </div>
        @Html.TextBoxFor(n => n.Keyword, new { placeholder = "Keyword", title = "Identification pass phrase created during Sign-Up" })
        @Html.ValidationMessageFor(n => n.Keyword)
        <button type="submit">Submit</button>
    </form>
    </div>
</div>

<script type="text/javascript">

</script>


