@using MedNet.Models
@model PatientEditProfileViewModel
@{
    ViewData["Title"] = "Patient Edit Profile";
}

@section StyleLinks {
    <link rel="stylesheet" type="text/css" href="~/Styles/tagsinput.css" />
}

@section NavButtons {
    <a href="PatientOverview" class="topnav-lbtn topnav-first">Home</a>
    <a href="Logout" class="topnav-rbtn">Logout</a>
}

<!--DEBUG:
    - if patient already has info, fill in textbox with information from database
    - write javascript to fill in textboxes that the patient already filled in

    - Having troubles with:
        - cannot find type Prov (for dropdown list)
        - Model.Relationships not working for radio button
        - write javascript/jquery to enable/disable textbox with radio button check
-->
<!-- Improvements
    - improve Allergy, Daily Meds, and Medical History input with separate textboxes for each item in the list
-->

<body>
    <div class="content-full">
        <form asp-action="EditProfile" method="post">
            <div class="row">
                <div class="form-reg col-sm-10 col-md-8 col-lg-7 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>General Information</h3>
                        </div>
                        <div class="card-body">
                            <!-- name -->
                            <div class="form-group">
                                <label for="patientName">Name</label>
                                <div class="form-row">
                                    <div class="col">
                                        @Html.TextBoxFor(n => n.FirstName, new { placeholder = "First Name", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col">
                                        @Html.TextBoxFor(n => n.LastName, new { placeholder = "Last Name", @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <!-- age -->
                            <div class="form-row">
                                <!-- date of birth-->
                                <div class="form-group col-sm-9">
                                    <label>Date of Birth</label>
                                    @Html.TextBoxFor(n => n.DateOfBirth, new { id = "DateOfBirth", type = "date", max = "2020-04-01", @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Age</label>
                                    @Html.TextBoxFor(n => n.Age, new { id = "Age", type = "number", @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <!-- email-->
                            <div class="form-group">
                                <label>Email</label>
                                @Html.TextBoxFor(n => n.Email, new { placeholder = "Email", type = "email", @class = "form-control" })
                                <small id="emailHelp" class="form-text text-muted">Your email, Our secret.</small>
                            </div>
                            <!-- phone -->
                            <div class="form-group">
                                <label>Phone</label>
                                @Html.TextBoxFor(n => n.Phone, new { id = "phone-num", placeholder = "###-###-####", type = "tel", @class = "form-control" })
                                <small id="phoneHelp" class="form-text text-muted">Example: 604-999-9999</small>
                            </div>
                            <!-- address info -->
                            <div class="form-group">
                                <label>Address</label>
                                @Html.TextBoxFor(n => n.Address, new { placeholder = "Address", type = "text", @class = "form-control" })
                            </div>
                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label>City</label>
                                    @Html.TextBoxFor(n => n.City, new { placeholder = "City", type = "text", @class = "form-control" })
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Province</label>
                                    @Html.DropDownListFor(n => n.Province, new SelectList(MedNet.Data.Services.Globals.provincesShort), new { @class = "form-control" })
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Postal</label>
                                    @Html.TextBoxFor(n => n.Postal, new { type = "text", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-reg col-sm-10 col-md-8 col-lg-7 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>Emergency Contact</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Name</label>
                                <!-- name -->
                                <div class="form-row">
                                    <div class="col">
                                        @Html.TextBoxFor(n => n.emerFirstName, new { placeholder = "First Name", type = "text", @class = "form-control" })
                                    </div>
                                    <div class="col">
                                        @Html.TextBoxFor(n => n.emerLastName, new { placeholder = "Last Name", type = "text", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <!-- phone -->
                            <div class="form-group">
                                <label>Phone</label>
                                @Html.TextBoxFor(n => n.emerPhone, new { id = "emer-phone-num", placeholder = "###-###-####", type = "tel", @class = "form-control" })
                                <small id="phoneHelp" class="form-text text-muted">Example: 604-999-9999</small>
                            </div>
                            <!-- address info -->
                            <div class="form-group">
                                <label>Address</label>
                                @Html.TextBoxFor(n => n.emerAddress, new { placeholder = "Address", type = "text", @class = "form-control" })
                            </div>

                            <div class="form-row">
                                <div class="form-group col-sm-6">
                                    <label>City</label>
                                    @Html.TextBoxFor(n => n.emerCity, new { placeholder = "City", type = "text", @class = "form-control" })
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Province</label>
                                    @Html.DropDownListFor(n => n.emerProvince, new SelectList(MedNet.Data.Services.Globals.provincesShort), new { @class = "form-control" })
                                </div>
                                <div class="form-group col-sm-3">
                                    <label>Postal</label>
                                    @Html.TextBoxFor(n => n.emerPostal, new { type = "text", @class = "form-control" })
                                </div>
                            </div>
                            <!-- Emergency relationship -->

                            <div class="form-row">
                                <label>Relationship</label>
                                @Html.DropDownListFor(n => n.Relationship, new SelectList(MedNet.Data.Services.Globals.relationships), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-reg col-sm-10 col-md-8 col-lg-7 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>Allergies</h3>
                        </div>
                        <div class="card-body">
                            @Html.TextBoxFor(n => n.Allergies, new { type = "text", @class = "form-control", data_role = "tagsinput" })
                            <small id="allergyHelp" class="form-text text-muted">List your allergies and separate each with a comma</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-reg col-sm-10 col-md-8 col-lg-7 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>Daily Medications</h3>
                        </div>
                        <div class="card-body">
                            @Html.TextBoxFor(n => n.Meds, new { type = "text", @class = "form-control", data_role = "tagsinput" })
                            <small id="medsHelp" class="form-text text-muted">List your daily medications and separate each with a comma</small>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="form-reg col-sm-10 col-md-8 col-lg-7 col-xl-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>Medical History</h3>
                        </div>
                        <div class="card-body">
                            @Html.TextBoxFor(n => n.MedHist, new { type = "text", @class = "form-control", data_role = "tagsinput" })
                            <small id="medsHelp" class="form-text text-muted">List your medical history and separate each with a comma.</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6" style="margin: 0 auto;">
                    <button type="submit" class="btn btn-success save-changes">Save</button>
                    <a href="PatientOverview" class="btn btn-default cancel-changes">Cancel</a>
                </div>
            </div>
            
        </form>
    </div>
</body>

@section Scripts {
    <!-- InputMask -->
    <script src="~/theme/plugins/moment/moment.min.js"></script>
    <script src="~/theme/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>

    <!-- DEBUG: Enable text box when radio is checked -->
    <script type="text/javascript">
        function toggleTextbox() {
            var btn = document.getElementById("patientOther");
            var txt = document.getElementById("emerOtherText");
            txt.disabled = btn.checked ? false : true;
            if (!txt.disabled) {
                txt.focus();
            }
        }
    </script>

    <script type="text/javascript">
        jQuery(function ($) {
            $("#phone-num").inputmask("999-999-9999");
        });</script>

    <script type="text/javascript">
        jQuery(function ($) {
            $("#emer-phone-num").inputmask("999-999-9999");
        });</script>

    <script src="~/Scripts/tagsinput.js"></script>
}
