@model MedNet.ViewModels.EditAccessViewModel
@{
    ViewData["Title"] = "Edit Access";
}

@section NavButtons {
    <a href="Logout" class="topnav-rbtn topnav-first">Logout</a>
    @*<a href="PatientOverview" class="topnav-rbtn">@Model.PatientName</a>*@
}

<div class="sidebar">
    <div class="sidebar-body">
        <a href="PatientOverview">Overview</a>
        <a href="PatientRecords">Medical Records</a>
        <a href="EditAccess" class="active">Edit access</a>
    </div>
</div>

<div class="content">
    <div class="content-header">
        <h1>@ViewBag.UserName</h1>
        <p><strong>PHN: </strong>@ViewBag.UserID</p>
    </div>
    <div class="row">
        <div class="form-reg col-sm-10 col-md-8 col-lg-7 col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h1>Edit Access</h1>
                </div>
                <div id="message">
                </div>
                <div id="accessList" class="text-center">
                </div>
                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(n => n.UserType, "Select User Type")
                        <select id="selectUserType" class="form-control">
                            <option value="" selected>Select User Type</option>
                            <option value="Doctor">Doctor</option>
                            @if (Model.reportType == MedNet.Data.Models.AssetType.DoctorNote)
                            { }
                            else if (Model.reportType == MedNet.Data.Models.AssetType.Prescription)
                            {
                                <option value="Pharmacist">Pharmacist</option>
                            }
                            else
                            {
                                <option value="Pharmacist">Pharmacist</option>
                                <option value="MLT">Medical Lab Technologist</option>
                            }
                        </select>
                        <small id="phoneHelp" class="form-text text-muted">Please select the type of user you want to grant/revoke access from</small>
                    </div>
                    <!-- Doctor's Note -->
                    <div class="form-group" id="userID">
                        @Html.LabelFor(n => n.UserID, "")
                        @Html.TextBoxFor(n => n.UserID, new { @class = "form-control typeahead", @id = "userIDInput" })
                        <div class="text-center mt-3">
                            <button id="grantAccessBtn" class="btn btn-success">Grant Access</button>
                            <button id="revokeAccessBtn" class="btn btn-danger">Revoke Access</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- InputMask -->
    <script src="~/theme/plugins/moment/moment.min.js"></script>
    <script src="~/theme/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>

    <script type="text/javascript" src="~/Scripts/EditAccess.js"></script>
}
