@model PatientOverviewViewModel
@{
    ViewData["Title"] = "Patient Overview";
}

@section NavButtons {
    <a href="Logout" class="topnav-rbtn">Logout</a>

    <a href="javascript:void(0);" class="icon" onclick="resizeFunction()">
        <i class="fa fa-bars"></i>
    </a>
}

<body>
    <div class="sidebar">
        <div class="sidebar-body">
            <a href="PatientOverview" class="active">Overview</a>
            <a href="PatientOverview">Past Appointments</a>
            <a href="PatientOverview">Prescriptions</a>
            <a href="PatientOverview">Test Results</a>
        </div>
        <div class="sidebar-footer">
            <a href="Home">Close</a>
        </div>
    </div>

    <div class="content">
        <div class="content-header">
            <h1>@Model.PatientName</h1>
            <div class="row">
                <div class="col-sm-8">
                    <p><strong>PHN: </strong>@Model.PatientPHN</p>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-edit" href="EditProfile">Edit Profile</a>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>General Information</h3>
                        </div>
                        <div class="card-body">
                            <p><strong>Age: </strong>@Model.PatientAge</p>
                            <p><strong>Date of Birth: </strong>@Model.PatientDOB.ToLongDateString()</p>
                            <p><strong>Address: </strong></p>
                            <p><strong>Email: </strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>Emergency Contact</h3>
                        </div>
                        <div class="card-body">
                            <!-- TODO: dynamically fill in list: name, phone, relationship to patient -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>Allergies</h3>
                        </div>
                        <div class="card-body">
                            <!-- TODO: dynamically fill in list of patient's allergies-->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>Daily Medications</h3>
                        </div>
                        <div class="card-body">
                            <!-- TODO: dynamically fill in patient's daily medications-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>Medical History</h3>
                        </div>
                        <div class="card-body">
                            <!-- TODO: dynamically fill in patient's medical history-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

<!-- Old -->
@* <div class="patient-overview">
        <div class="form1">
            <div class="heading2">
                <p><strong>Patient Profile</strong></p>
            </div>
            <div class="heading1">
                <p><strong>@Model.PatientName</strong></p>
            </div>
            <div class="heading2">
                <p>PHN: <strong>@Model.PatientPHN</strong></p>
                <p>General Information</p>
            </div>

            <div>
                <div class="row">
                    <div class="column1">
                        <p>Age:</p>
                    </div>
                    <div class="column2">
                        <p>@Model.PatientAge</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column1">
                        <p>Date of Birth:</p>
                    </div>
                    <div class="column2">
                        <p>@Model.PatientDOB.ToShortDateString()</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column1">
                        <p>Blood Type:</p>
                    </div>
                    <div class="column2">
                        <p>O+</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column1">
                        <p>Allergies:</p>
                    </div>
                    <div class="column2">
                        <p>Bees</p>
                        <p>Peanuts</p>
                        <p>Aspirin</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column1">
                        <p>Current Medication(s):</p>
                    </div>
                    <div class="column2">
                        <p>Levothyroxine</p>
                        <p>Insulin</p>
                        <p>Zoloft</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column1">
                        <p>Smoker:</p>
                    </div>
                    <div class="column2">
                        <p>Yes</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column1">
                        <p>Drink Alcohol:</p>
                    </div>
                    <div class="column2">
                        <p>Yes</p>
                    </div>
                </div>
                <div class="row">
                    <div class="column1">
                        <p>Known Medical History:</p>
                    </div>
                    <div class="column2">
                        <p>Thyroid</p>
                        <p>Diabetes</p>
                    </div>
                </div>
            </div>
            <button onclick="window.location.href = 'EditInfo';">Edit Profile</button><br />
        </div>

        <div class="form2">
            <div class="table">
                <div class="tab">
                    <button class="tablinks" onclick="openTab(event, 'doc_notes')" id="defaultOpen">Doctor's Notes</button>
                    <button class="tablinks" onclick="openTab(event, 'prescriptions')">Prescriptions</button>
                    <!--<button class="tablinks" onclick="openTab(event, 'test_results')">Test Results</button>-->
                    <button class="tablinks, red" onclick="window.location.href = 'RevokeAccess';">Revoke Access</button>
                </div>

                <div id="doc_notes" class="tabcontent">
                    @if (Model != null && Model.DoctorNotes != null && Model.DoctorNotes.Any())
                    {
                        @foreach (var doctorNote in Model.DoctorNotes)
                        {
                            <div class="record" align="left">
                                <div class="heading1">
                                    Date: @doctorNote.DateOfRecord.ToString("MMMM dd, yyyy")
                                </div>
                                <p>
                                    Purpose of Visit: @doctorNote.PurposeOfVisit <br />
                                    Description: @doctorNote.Description <br />
                                    Final Diagnosis: @doctorNote.FinalDiagnosis <br />
                                    Further Instructions and General Precautions: @doctorNote.FurtherInstructions   <br />
                                    Doctor Visited: @doctorNote.DoctorName
                                </p>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="record" align="left">
                            <div class="heading1">
                                No records shared.
                            </div>
                            <p>
                                No medical records to show.
                            </p>
                        </div>
                    }
                </div>

                <div id="prescriptions" class="tabcontent">
                    @if (Model != null && Model.Prescriptions != null && Model.Prescriptions.Any())
                    {
                        @foreach (var prescription in Model.Prescriptions)
                        {
                            <div class="record" align="left">
                                <div class="heading1">
                                    Date: @prescription.PrescribingDate.ToString("MMMM dd, yyyy")
                                </div>
                                <p>
                                    Prescription: @prescription.DrugNameStrength <br />
                                    Dosage: @prescription.Dosage <br />
                                    Prescription Length: @prescription.StartDate.ToString("MMMM dd, yyyy") to @prescription.EndDate.ToString("MMMM dd, yyyy") <br />
                                    Prescribing Doctor: @prescription.DoctorName
                                </p>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="record" align="left">
                            <div class="heading1">
                                No records shared.
                            </div>
                            <p>
                                No medical records to show.
                            </p>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div> *@