@model PatientOverviewViewModel
@{
    ViewData["Title"] = "Patient Overview";
}

@section NavButtons {
    <a href="Logout" class="topnav-rbtn topnav-first">Logout</a>
    @*<a href="PatientOverview" class="topnav-rbtn">@Model.PatientName</a>*@
}


<div class="sidebar">
    <div class="sidebar-body">
        <a href="PatientOverview" class="active">Overview</a>
        <a href="PreviousAppointments">Past Appointments</a>
        <a href="PrescriptionList">Prescriptions</a>
        <a href="TestResultList">Test Results</a>
    </div>
</div>

<div class="content">
    <div class="content-header">
        <h1>@Model.PatientName</h1>
        <div class="row">
            <div class="col-sm-8">
                <p><strong>PHN: </strong>@Model.PatientPHN</p>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-edit" href="EditProfile">Edit Profile</a>
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h3>General Information</h3>
                    </div>
                    <div class="card-body">
                        <p><strong>Age: </strong>@Model.PatientAge</p>
                        <p><strong>Date of Birth: </strong>@Model.PatientDOB.ToLongDateString()</p>
                        <p><strong>Address: </strong></p>
                        <p><strong>Email: </strong></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Emergency Contact</h3>
                    </div>
                    <div class="card-body">
                        <!-- TODO: dynamically fill in list: name, phone, relationship to patient -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Allergies</h3>
                    </div>
                    <div class="card-body">
                        <!-- TODO: dynamically fill in list of patient's allergies-->
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Daily Medications</h3>
                    </div>
                    <div class="card-body">
                        <!-- TODO: dynamically fill in patient's daily medications-->
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Medical History</h3>
                    </div>
                    <div class="card-body">
                        <!-- TODO: dynamically fill in patient's medical history-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>